# Python 虚拟环境
.venv/
env/
venv/

# Flask 和 Python 编译文件
*.pyc
*.pyo
*.pyd
__pycache__/
*.db

# Node.js 依赖
node_modules/

# React 编译输出
build/

# 系统文件
.DS_Store       # macOS 系统生成的文件
Thumbs.db       # Windows 系统生成的文件

# 环境变量配置文件（通常包含敏感信息）
.env

# IDE 和编辑器配置文件
.idea/
.vscode/

# 日志文件
*.log

# 操作系统生成的文件
*.swp           # vim swap 文件
